spring:
  application:
    name: stock-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5434/stock_db
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    flyway:
      baseline-on-migrate: true
      locations: classpath:db/migration

  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 18100

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  file:
    name: logs/stock-service.log