spring:
  profiles:
    active: dev
  application:
    name: brand-service
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server