server:
  port: 0

message: "default message"

spring:
  profiles:
    active: dev
  application:
    name: user-service
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

