spring:
  application:
    name: product-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5433/product_db
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
  data:
    elasticsearch:
      host: localhost:9200
      repositories:
        enabled: true

server:
  port: 18090

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
