spring:
  application:
    name: cart-service
  profiles:
    active: dev
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/
