spring:
  application:
    name: cart-service
  profiles:
    active: dev
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

    openfeign:
      circuitbreaker:
        enabled: true
      client:
        config:
          product-service:
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: basic


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
